.main {
    position: absolute;
    min-height: 78%;
    height: auto;
    width: 70%;
    background-color: white ;
    top: 8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.add {
    cursor: pointer;
    border: 2px solid black;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    margin: 9rem;
    line-height: 2rem;
    text-align: center;
    transition: .2s ease;
}

.card {
    position: relative;
    border: 2px solid black;
    width: 18rem;
    height: 18rem;
    font-size: 2rem;
    margin: 2rem;
    transition: 0.1s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgb(179, 179, 179);
}

.username {
    margin: 1rem;
    text-align: center;
}

.type {
    font-size: 1.25rem;
    margin: 1rem;
    text-align: center;
}

.balance {
    font-size: 1.25rem;
    margin: 1rem;
    text-align: center;
}

.loginMsg {
    position: absolute;
    font-size: 1.25rem;
    margin: 1rem;
    height: fit-content;
    transform: translate(-50%,-50%);
    top: 44%;
    left: 50%;
}

.edit {
    position: relative;
    cursor: pointer;
    margin: 1rem;
    margin-top: 5rem;
    text-align: center;
}