
.containerB {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto; 
 
    display: flex;

    flex-direction: column;

    width: 40vw;
    color: #cfddfc;
}

.containerC {
    margin-top: 10vh;
    background-color: #78a2f3;
    border-radius: 10px;

    padding: 3vh 1.4vw 4vh 1.4vw;
}

.titleA {
    font-size: 3vw;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 2.5vh;
}

.tableContainer {
    background-color: #78a2f3;
    border-radius: 0;

    min-height: 82vh;

    overflow-y: hidden;
}

.tableHeader, .tableFooter {
    height: 4vw;
    background-color: #78a2f3;
}

.tableFooter {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tableHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tableHeaderA{
    display: flex;
    flex-direction: row;

    padding: 0 1.5vw;

    align-items: center;
}

.tableHeaderB{
    display: flex;
    flex-direction: row;

    padding: 0 1.5vw;

    align-items: center;
    justify-content: center;
}

.accountSelectButton {
    margin: 0 .5vw;
    padding: 3.5px 18px;
    border: solid 1px transparent;
}

.accountSelectButton:focus {
    outline: 0;
}

.accountSelectButtonActive {
    border: solid 1px #c0ecfe95;
    border-radius: 50px;
}

.table {
    table-layout: fixed;
    width: 100%;

    border-radius: 10px;
}

.typeExpense, .typeRevenue {
    position: relative;
    width: 58px;
}

.typeExpense::before, .typeRevenue::before {
    content: "";
    font-size: 40px;

    display: flex;
    flex-direction: column;

    justify-content: center;

    text-align: center;
    position: absolute;
    width: 2.7vw;
    height: 2.7vw;

    top: 25.4%;
    right: 0;

    /* border-radius: 50%; */
    background-size: cover;

    z-index: 100;
}

.typeExpense::before {
    background-image: url(../../public/transaction-negative.png);
}

.typeRevenue::before {
    background-image: url(../../public/transaction-positive.png);
}

.typeExpenseHide::before {
    visibility: hidden;
}

.table td:nth-of-type(2) {
    padding-left: 16px;
}

.table td:nth-of-type(3) {
    text-align: right;
    width: 100px;
    padding-left: 0;
    padding-right: 16px;
}

.table th {
    text-align: left;
    padding-left: 8px;

    padding-top: 4px;
    padding-bottom: 4px;
}

.table td {
    text-align: left;
    padding-left: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.table th, .table td {
    /* border: 1px solid #c0ecfe; */
    border-top: 1px solid #c0ecfe95;
    border-bottom: 1px solid #c0ecfe95;
    background-color: transparent;
}

.table td span {
    color: #c0ecfe95;
}

/* Balance Container Start */

.containerC p {
    font-weight: 500;
}

.balanceAmount {
    font-size: 4vw;
    margin-top: 0;

    color: #32325d;

    padding: 0;

    line-height: 4vw;
}

.containerC hr {
    /*      top right bottom left */
    margin: 4.15vh 0 2.85vh 0 ;

    border-top: .15vh solid #c0ecfe95;
}

.accountBalance {
    color: #c0ecfe95;
    font-weight: 500;
}

.containerC div {
    margin-top: 1vh;
}

.containerC div:first-of-type {
    margin-top: 0;
}

.accountBalanceContainer {
    display: inline-flex;

    padding: 0 1vw;

    width: 100%;

    box-sizing: border-box;

    position: relative;
}

.accountBalanceContainer p {
    position: absolute;
    right: 1vw;

    color: #444444;
}

.extendButton {
    margin: auto;
}