.button {
    padding: 1vh 1.5vw;
    text-transform: uppercase;

    position: relative;

    top: 0;

    width: fit-content;

    font-weight: 500;

    border-radius: 3px;

    transition: top .15s;
}

.buttonA {
    color: #ffffff;
    background-color: #6772e5;
}

.buttonB {
    background-color: #ffffff;
    color: #6772e5;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}