.container {
    min-height: 100vh;
    height: auto;
    padding: 0 0.5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: transparent;
}