.nav {
    height: 5rem;
    padding: 10px 245px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 100%;
}

.nav ul li {
    color: #32325d;

    margin: 5px 15px;
    font-weight: 500;
}

.nav ul li:first-child {
    margin-right: auto;
    font-weight: 700;
}

.nav ul li:last-child {
    margin-left: auto;
} 

.nav img {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
}

.user {
    /* margin-right: 4rem; */
    margin-left: auto;
}

.signIn {
    margin: 0;
    /* background-color: ; */
}

.bank {
    margin-right: auto;
    cursor: default;
}

.title {
    margin-right: auto;
    font-weight: 800;
    font-size: 20px;
}

.dropdown {
    position: absolute;
    height: 0rem;
    width: 0rem;
    border: 1px solid black;
    background-color: white;
    transform: translate(-50%, -50%);
    right: 5.6rem;
    top: 3.5rem;
    z-index: 2;
    transition: 0.2s ease-in;
    opacity: 0;
    font-size: 0;
}

.connector {
    position: absolute;
    height: 2rem;
    width: 2rem;
}

.dropdown ul {
    flex-direction: column;
    padding: 0;
    padding-top: 1rem;
}

.dropdown ul li {
    margin-left: 0;
    margin-bottom: 1rem;
    left: 0;
    cursor: pointer;
}