.formContainer {
    margin-top: 10vh;
}

.formHeader {
    font-size: 4.3vw;
    color: #32325d;
}

.formSubheader {
    color: #32325d;
    font-size: 2vw;

    line-height: 2vw;

    margin-bottom: 3.5vh;
}

.inputContainer {
    display: inline-block;
    width: 100%;

    margin: 0;
    padding: .8vh .8vw;

    background-color: #78a2f3;
}

.label {
    color: #c0ecfe;

    margin-top: auto;
    margin-bottom: auto;

    float: left;
}

.input {
    float: right;
    background-color: transparent;

    padding: 0 .5vw;

    margin-top: auto;
    margin-bottom: auto;

    color: #ffffff;
    width: 88%;

    justify-self: flex-end;
}

.input::placeholder {
    color: #dfdfdfde;
}

.input:focus {
    background-color: transparent;
    border: 0 solid transparent;
    outline: none;
}

.button {
    background-color: #f6a4eb;
    color: #ffffff;

    /* font-size: 1.6vw; */
    font-weight: 600;

    width: 100%;

    padding: .8vh .8vw;
    margin-top: 1vh;
}

.button:hover {
    background-color: #f397e7;
}

.formLinksContainer {
    margin-top: 1.5vh;
}

.formLinksContainer {
    color: #c0ecfe;
}

.formLinksContainer a:first-of-type {
    margin-right: 1vw;
}

.formLinksContainer a:hover {
    color: #9f1ac0;
}