@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #668be6;
  min-height: 120vh;
  height: auto;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.d-none {
  display: none;
}

.whiteText {
  color: #ffffff;
}

.secondaryText {
  color: #c0ecfe;
}

.border {
  border: solid 2px transparent;
}

.h-100 {
  height: 100%;
}

.secondaryBorder {
  border-color: #c0ecfe;
}

.borderBox {
  box-sizing: border-box;
}

.ms-1 {
  margin-left: .5vw;
}

.ms-2 {
  margin-left: 1vw;
}

.rounded-right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.dualButtonContainer {
  display: inline-block;
  height: fit-content;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}