.container {
    position: absolute;
    min-height: 78%;
    height: auto;
    width: 70%;
    background-color: white ;
    top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 50px;
    align-items: center;
    border: 2px solid black;
}

.bottom {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.description {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding: 4px;
    width: 700px;
}

.amount {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 4px;
    width: 100px;
}

.descContainer {
    padding: 4px;
    width: 700px;
}

.amountContainer {
    margin-right: -4px;
    padding: 4px;
    width: 100px;
}

.line {
    border-left: 2px solid black;
    height: 46px;
}